/* #6E8066 - Olive Green*/
 /* #A8FF80 - Light Green*/
 /* #DCFFCC- Off White */
 /* #458029 - Bright Green */
 /* #B0CCA3 - Money Green */

html {
  height: 100%;
}

body {
  height: 100%;
  background: #DCFFCC;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* H1 STYLES */
h1 {
  text-transform:uppercase;
}

/* Container Styles */
.container {
  margin-top: 10px;
  min-height: 40vh;
}

/* Form Styles */

form,
.messages {
  padding: 2rem;
  max-width: 800;
  margin: 0 auto;
}

form label {
  text-align: center;
  font-size: 2rem;
}

input[type="submit"]:disabled {
  opacity: .5;
}

.messages {
  text-align: center;
}

.result {
  border: 2px solid #458029;
  padding: 3rem 0;
}

.button-primary {
  background: #458029 !important;
  border-color: #B0CCA3 !important;
}

input.u-full-width, select.u-full-width {
  background: #ffffff;
}

h1, h2{
  color: #458029;
}
